socket-name: /run/lvmd/lvmd.socket
device-classes:
  - name: default
    volume-group: rhel
    default: true
    spare-gb: 0
    type: thin
    thin-pool:
      name: thin
      overprovision-ratio: 10
