# These commands are handy for MicroShift Demos:
dnf download --resolve microshift
dnf install microshift
dnf install microshift-olm
dnf install microshift-gitops
systemctl enable --now microshift
oc config set-context --current --namespace=
cp -pnf /var/lib/microshift/resources/kubeadmin/kubeconfig ~/.kube/config
systemctl status microshift
systemctl restart microshift
microshift version
oc get pods -A
oc get nodes
curl {{ inventory_hostname }}.{{ sysctx_dns_domain }}/nginx
curl -L https://mirror.openshift.com/pub/openshift-v4/clients/helm/latest/helm-linux-amd64  -o helm
