apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: {{ roxagent_k8s_auth_host }}
{% if roxagent_k8s_auth_ssl_ca_cert | length > 0 %}
      certificate-authority-data: {{ roxagent_k8s_auth_ssl_ca_cert_content | b64encode }}
{% elif not roxagent_k8s_auth_verify_ssl %}
      insecure-skip-tls-verify: true
{% endif %}
    name: cluster
contexts:
  - context:
      cluster: cluster
      user: user
    name: default
current-context: default
users:
  - name: user
    user:
      token: {{ roxagent_k8s_auth_api_key }}
