dns:
  baseDomain: {{layer3_name}}.{{ sysctx_dns_domain }}
network:
  clusterNetwork:
    - 10.42.0.0/16
  serviceNetwork:
    - 10.43.0.0/16
  serviceNodePortRange: 30000-32767
node:
  hostnameOverride: ""
  nodeIP: ""
apiServer:
  subjectAltNames: []
debugging:
  logLevel: "Normal"
