;
; BIND data file for {{layer3_ocp_name}}.{{ sysctx_dns_domain }}
;
$ORIGIN {{layer3_ocp_name}}.{{ sysctx_dns_domain }}.
$TTL    60
@       IN      SOA       @ {{layer3_ocp_name}}support.{{ sysctx_dns_domain }}. (
                          {{ bind_zone_serial.stdout }}        ; Serial
                          60       ; Refresh after 3 hours
                          60       ; Retry after 1 hour
                          60       ; Expire after 1 week
                          60 )     ; Negative caching TTL of 1 day

        IN      NS      {{layer3_ocp_name}}support.{{ sysctx_dns_domain }}.
        IN      MX      10 {{layer3_ocp_name}}support.{{ sysctx_dns_domain }}.

; ClusterName CN = {{layer3_ocp_name}}
; BaseDomain BD = {{ sysctx_dns_domain }}



; A records of Nodes/Host-names - might be done by DHCP
control-0.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_control_0_ip}}
control-1.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_control_1_ip}}
control-2.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_control_2_ip}}
compute-0.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_compute_0_ip}}
compute-1.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_compute_1_ip}}
compute-2.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_compute_2_ip}}
bootstrap.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_bootstrap_ip}}

; SRV Records
; _service._proto.name. 		TTL    class SRV priority weight port target.
_etcd-server-ssl._tcp.{{layer3_ocp_name}}.{{sysctx_dns_domain}}  86400 IN    SRV 0        10     2380 etcd-0.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.
_etcd-server-ssl._tcp.{{layer3_ocp_name}}.{{sysctx_dns_domain}}  86400 IN    SRV 0        10     2380 etcd-1.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.
_etcd-server-ssl._tcp.{{layer3_ocp_name}}.{{sysctx_dns_domain}}  86400 IN    SRV 0        10     2380 etcd-2.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.

; Additional A records to the Node/Host-names
etcd-0.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_control_0_ip}}
etcd-1.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_control_1_ip}}
etcd-2.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	86400 IN A {{layer3_ocp_control_2_ip}}

*.apps.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	   86400 IN A {{layer3_ocp_bastion_ip}}
api.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.	     86400 IN A {{layer3_ocp_bastion_ip}}
api-int.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.   86400 IN A {{layer3_ocp_bastion_ip_int}}

support.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.    86400 IN  A {{layer3_ocp_support_ip}}
{{layer3_ocp_name}}support.{{layer3_ocp_name}}.{{sysctx_dns_domain}}. 86400   IN  A {{layer3_ocp_support_ip}}
