[Unit]
Description=OpenShift 4 LoadBalancer CLUSTER
After=network.target

[Service]
Type=simple
TimeoutStartSec=5m

ExecStartPre=-/usr/bin/podman rm "openshift-4-loadbalancer"
ExecStartPre=/usr/bin/podman pull quay.io/redhat-emea-ssa-team/openshift-4-loadbalancer
ExecStart=/usr/bin/podman run --name openshift-4-loadbalancer --net host \
  -e API=bootstrap={{layer3_ocp_bootstrap_ip}}:6443,control-0={{layer3_ocp_control_0_ip}}:6443,control-1={{layer3_ocp_control_1_ip}}:6443,control-2={{layer3_ocp_control_2_ip}}:6443 \
  -e API_LISTEN=127.0.0.1:6443,{{layer3_ocp_bastion_ip}}:6443 \
  -e INGRESS_HTTP=control-0={{layer3_ocp_control_0_ip}}:80,control-1={{layer3_ocp_control_1_ip}}:80,control-2={{layer3_ocp_control_2_ip}}:80,compute-0={{layer3_ocp_compute_0_ip}}:80,compute-1={{layer3_ocp_compute_1_ip}}:80,compute-2={{layer3_ocp_compute_2_ip}}:80 \
  -e INGRESS_HTTP_LISTEN=127.0.0.1:80,{{layer3_ocp_bastion_ip}}:80 \
  -e INGRESS_HTTPS=control-0={{layer3_ocp_control_0_ip}}:443,control-1={{layer3_ocp_control_1_ip}}:443,control-2={{layer3_ocp_control_2_ip}}:443,compute-0={{layer3_ocp_compute_0_ip}}:443,compute-1={{layer3_ocp_compute_1_ip}}:443,compute-2={{layer3_ocp_compute_2_ip}}:443 \
  -e INGRESS_HTTPS_LISTEN=127.0.0.1:443,{{layer3_ocp_bastion_ip}}:443 \
  -e MACHINE_CONFIG_SERVER=bootstrap={{layer3_ocp_bootstrap_ip}}:22623,control-0={{layer3_ocp_control_0_ip}}:22623,control-1={{layer3_ocp_control_1_ip}}:22623,control-2={{layer3_ocp_control_2_ip}}:22623 \
  -e MACHINE_CONFIG_SERVER_LISTEN=127.0.0.1:22623,{{layer3_ocp_bastion_ip}}:22623,{{layer3_ocp_bastion_ip_int}}:22623 \
  -e STATS_LISTEN=127.0.0.1:1984 \
  -e STATS_ADMIN_PASSWORD=aengeo4oodoidaiP \
  quay.io/redhat-emea-ssa-team/openshift-4-loadbalancer

ExecReload=-/usr/bin/podman stop "openshift-4-loadbalancer"
ExecReload=-/usr/bin/podman rm "openshift-4-loadbalancer"
ExecStop=-/usr/bin/podman stop "openshift-4-loadbalancer"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
