;
; BIND data file for 10.16.172.in-addr.arpa
;
$ORIGIN 10.16.172.in-addr.arpa.
$TTL    60
@       IN      SOA       @ 10.16.172.in-addr.arpa. (
                          {{ bind_zone_serial.stdout }}        ; Serial
                          60       ; Refresh after 3 hours
                          60       ; Retry after 1 hour
                          60       ; Expire after 1 week
                          60 )     ; Negative caching TTL of 1 day

        IN      NS      5.10.16.172.

; PTR Records
6.10.16.172.in-addr.arpa.   3600 IN  PTR  bootstrap.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.
10.10.16.172.in-addr.arpa.  3600 IN  PTR  control-0.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.
11.10.16.172.in-addr.arpa.  3600 IN  PTR  control-1.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.
12.10.16.172.in-addr.arpa.  3600 IN  PTR  control-2.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.

20.10.16.172.in-addr.arpa.  3600 IN  PTR  compute-0.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.
21.10.16.172.in-addr.arpa.  3600 IN  PTR  compute-1.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.
22.10.16.172.in-addr.arpa.  3600 IN  PTR  compute-2.{{layer3_ocp_name}}.{{sysctx_dns_domain}}.
