ocp_version: 3.11
api_dns: {{layer3_ocp_master_url}}
apps_dns: {{layer3_ocp_master_apps}}
bastion: ocp1bastion.{{sysctx_dns_domain}}
lb: ocp1bastion.{{sysctx_dns_domain}}
masters:
- ocp1master1.{{sysctx_dns_domain}}
- ocp1master2.{{sysctx_dns_domain}}
- ocp1master3.{{sysctx_dns_domain}}
infranodes:
- ocp1inf1.{{sysctx_dns_domain}}
- ocp1inf2.{{sysctx_dns_domain}}
- ocp1inf3.{{sysctx_dns_domain}}
nodes:
- ocp1app1.{{sysctx_dns_domain}}
- ocp1app2.{{sysctx_dns_domain}}
- ocp1app3.{{sysctx_dns_domain}}
- ocp1app4.{{sysctx_dns_domain}}
cns:
- ocp1inf1.{{sysctx_dns_domain}}
- ocp1inf2.{{sysctx_dns_domain}}
- ocp1inf3.{{sysctx_dns_domain}}
container_disk: vdb
ocs_disk: nvme0n1
ssh_user: root
install_logging: y
install_metrics: y
ntp_servers:
- ptbtime1.ptb.de
- ptbtime2.ptb.de
- ptbtime3.ptb.de
rhn_username: {{sysctx_rhsm_user}}
subscription_pool_id: "{{sysctx_rhsm_poolid_virt}}"
registry_token_user: "{{sysctx_registry_token_user}}"
registry_token: "{{sysctx_registry_token}}"
