ocp_version: 3.11
api_dns: {{layer3_ocp_master_url}}
apps_dns: {{layer3_ocp_master_apps}}
bastion: {{layer3_ocp_name}}bastion.{{sysctx_dns_domain}}
lb: {{layer3_ocp_name}}bastion.{{sysctx_dns_domain}}
masters:
- {{layer3_ocp_name}}master1.{{sysctx_dns_domain}}
infranodes:
- {{layer3_ocp_name}}inf1.{{sysctx_dns_domain}}
nodes:
- {{layer3_ocp_name}}app1.{{sysctx_dns_domain}}
cns:
- {{layer3_ocp_name}}master1.{{sysctx_dns_domain}}
- {{layer3_ocp_name}}inf1.{{sysctx_dns_domain}}
- {{layer3_ocp_name}}app1.{{sysctx_dns_domain}}
container_disk: vdb
ocs_disk: vdc
ssh_user: root
install_logging: y
install_metrics: y
ntp_servers:
- ptbtime1.ptb.de
- ptbtime2.ptb.de
- ptbtime3.ptb.de
rhn_username: {{sysctx_rhsm_user}}
subscription_pool_id: "{{sysctx_rhsm_poolid_virt}}"
registry_token_user: "{{sysctx_registry_token_user}}"
registry_token: "{{sysctx_registry_token}}"
