apiVersion: v1
baseDomain: {{ cluster_base_domain }}
cpuPartitioningMode: {{ cluster_cpuPartitioningMode }}
compute:
  - architecture: amd64
    hyperthreading: Enabled
    name: worker
    platform: {}
    replicas: {{ workers | default([]) | length  }}

{% if arbiters | default([]) | length > 0 %}
arbiter:
  architecture: amd64
  hyperthreading: Enabled
  name: arbiter
  replicas: {{ arbiters | default([]) | length }}
{% endif %}

{% if openshift_featureSet is defined %}
featureSet: {{ openshift_featureSet }}
{% endif %}

controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{ control_plans | length }}
metadata:
  creationTimestamp: null
  name: {{ inventory_hostname }}
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork:
    - cidr: {{ network }}/{{ network_ip_address_prefix_length }}
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
{% if cluster_api_vip is defined %}
platform:
  baremetal:
    apiVIPs:
      - "{{ cluster_api_vip }}"
    ingressVIPs:
      - "{{ cluster_ingress_vip }}"

{% if arbiters | default([]) | length > 0 %}
    hosts:
{% for node in control_plans %}
      - name: {{ inventory_hostname }}-cp-{{ loop.index0}}
        role: master
{% endfor %}

{% for node in arbiters %}
      - name: {{ inventory_hostname }}-arbiter-{{ loop.index0}}
        role: arbiter
{% endfor %}
{% for node in workers %}
      - name: {{ inventory_hostname }}-worker-{{ loop.index0}}
        role: worker
{% endfor %}
{% endif %}


{% else %}
platform:
  none: {}
{% endif %}
publish: External

{% if cluster_capabilities is defined %}
capabilities:
{{ cluster_capabilities | to_nice_yaml(indent=2, sort_keys=false) | indent(2,true) }}
{% endif %}

pullSecret:
  '{{ image_pull_secret }}'
sshKey: |
  {{ lookup('ansible.builtin.env', 'SSH_PUBLIC_KEY' ) }}


{% if cluster_imagesource is defined %}
{{ cluster_imagesource | to_nice_yaml(indent=0, sort_keys=false) | indent(0,true) }}
{% endif %}

{% if cluster_additionalTrustBundle is defined %}
additionalTrustBundle: |
{{lookup('file', '{{ cluster_additionalTrustBundle }}') | indent(2,true) }}
{% endif %}
