---
- name: Fetch kubeconfig from vault
  ansible.builtin.include_role:
    name: internal-fetch-kubeconfig

- name: Remove TridentBackendConfigs
  ignore_errors: true
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: absent
    kind: TridentBackendConfig
    api_version: trident.netapp.io/v1
    namespace: netapp-trident
    label_selectors: ""

- name: Remove TridentNodes
  ignore_errors: true
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: absent
    kind: TridentNode
    api_version: trident.netapp.io/v1
    namespace: netapp-trident
    label_selectors: ""

- name: Remove TridentVersions
  ignore_errors: true
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: absent
    kind: TridentVersion
    api_version: trident.netapp.io/v1
    namespace: netapp-trident
    label_selectors: ""

- name: Remove NetApp Trident operator
  ignore_errors: true
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: absent
    definition:
      apiVersion: operators.coreos.com/v1alpha1
      kind: Subscription
      metadata:
        name: trident-operator
        namespace: openshift-operators

- name: Remove namespace
  ignore_errors: true
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: absent
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: netapp-trident

- name: Remove SnapShotClass
  ignore_errors: true
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: absent
    definition:
      apiVersion: snapshot.storage.k8s.io/v1
      kind: VolumeSnapshotClass
      metadata:
        name: coe-netapp

- name: Remove StorageClass/coe-netapp-san
  ignore_errors: true
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: absent
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: coe-netapp-san

- name: Remove StorageClass/coe-netapp-nas
  ignore_errors: true
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: absent
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: coe-netapp-nas


# coe-netapp-nas
- name: Fetch volumes from netapp
  netapp.ontap.na_ontap_rest_info:
    hostname: "{{ netapp_managementLIF }}"
    username: "{{ netapp_username }}"
    password: "{{ netapp_password }}"
    validate_certs: false
    gather_subset:
      - storage/volumes
    parameters:
      name: "stormshift_{{ inventory_hostname }}_*"
      # name: "stormshift_{{ inventory_hostname }}_pvc_ee8dd549*"
  register: ontap_info_vol

- name: Print volumes to delete
  debug:
    msg: "{{ ontap_info_vol.ontap_info['storage/volumes'] }}"

- name: Delete all Volumes
  ansible.builtin.uri:
    url: "https://{{ netapp_managementLIF }}{{ item._links.self.href }}"
    user: "{{ netapp_username }}"
    password: "{{ netapp_password }}"
    validate_certs: false
    method: DELETE
    force_basic_auth: true
  with_items: "{{ ontap_info_vol.ontap_info['storage/volumes'].records }}"

# coe-netapp-san
- name: Fetch LUNs from netapp
  netapp.ontap.na_ontap_rest_info:
    hostname: "{{ netapp_managementLIF }}"
    username: "{{ netapp_username }}"
    password: "{{ netapp_password }}"
    validate_certs: false
    gather_subset:
      - storage/luns
    parameters:
      name: "*/stormshift_{{ inventory_hostname }}_*"
      # name: "*/stormshift_{{ inventory_hostname }}_pvc_0fd108*"
  register: ontap_info_lun

- name: Print LUNs to delete
  debug:
    msg: "{{ ontap_info_lun.ontap_info['storage/luns'] }}"

- name: Delete all LUN's
  ansible.builtin.uri:
    url: "https://{{ netapp_managementLIF }}{{ item._links.self.href }}"
    user: "{{ netapp_username }}"
    password: "{{ netapp_password }}"
    validate_certs: false
    method: DELETE
    force_basic_auth: true
  with_items: "{{ ontap_info_lun.ontap_info['storage/luns'].records }}"
