---
# defaults file for cluster
cluster_name: "{{ inventory_hostname }}"

artifacts_dir: "{{ playbook_dir }}"
openshift_install_dir: "{{ artifacts_dir }}/{{ inventory_hostname }}"
openshift_version: 4.19.12
openshift_install_dest: "{{ artifacts_dir }}/{{ openshift_version }}"

openshift_mirror: "https://mirror.openshift.com"
openshift_location: "{{ openshift_mirror }}/pub/openshift-v4/clients/ocp/{{ openshift_version }}"

openshift_install_command: "{{ openshift_install_dest }}/openshift-install"

network: 10.32.96.0
network_ip_address_prefix_length: 20

network_default_gw: 10.32.111.254
network_dns_servers:
  - 10.32.96.1
  - 10.32.96.31

upload_host: https://cdi-uploadproxy-openshift-cnv.apps.isar.coe.muc.redhat.com

target_namespace: "{{ cluster_custom_namespace | default('stormshift-' + inventory_hostname + '-infra') }}"

clusterAlreadyExists: false

arbiter_cores: 2
arbiter_ram_gb: 8
arbiters: []


# See: https://docs.openshift.com/container-platform/4.17/scalability_and_performance/enabling-workload-partitioning.html#enabling-workload-partitioning_enabling-workload-partitioning
cluster_cpuPartitioningMode: None

worker_storage_class: "coe-netapp-san"
control_plan_storage_class: "coe-netapp-san"
agent_iso_storage_class: "coe-netapp-nas"

descheduler_evict: "true"
remove_cdrom_after_install: true

alertmanager_configure: true
alertmanager_additional_config:
  global:
    smtp_from: noreply@redhat.com
    smtp_smarthost: 'smtp.corp.redhat.com:25'
    smtp_hello: isar.coe.muc.redhat.com
    smtp_require_tls: false
  receivers:
    - name: Default
      email_configs:
      - to: "{{ (stormshift_owner_email | split('@'))[0] }}+notification-{{ inventory_hostname }}@{{ (stormshift_owner_email | split('@'))[1]}}"
