[environment:default]
OVEHOSTED_CORE/deployProceed=bool:True
OVEHOSTED_CORE/rollbackProceed=none:None
OVEHOSTED_CORE/screenProceed=bool:True
OVEHOSTED_CORE/upgradeProceed=none:None
OVEHOSTED_ENGINE/clusterName=str:Default
OVEHOSTED_ENGINE/datacenterName=str:Default
OVEHOSTED_ENGINE/enableHcGlusterService=none:None
OVEHOSTED_ENGINE/insecureSSL=none:None
OVEHOSTED_ENGINE/adminPassword=str:{{secret_password}}
OVEHOSTED_NETWORK/bridgeName=str:ovirtmgmt
OVEHOSTED_NETWORK/bridgeIf=str:{{layer1_host_primary_nic}}
OVEHOSTED_NETWORK/fqdn=str:{{layer2_rhev_engine_fqdn}}
OVEHOSTED_NETWORK/gateway=str:{{sysctx_gateway}}
OVEHOSTED_NOTIF/destEmail=str:root@localhost
OVEHOSTED_NOTIF/smtpPort=str:25
OVEHOSTED_NOTIF/smtpServer=str:localhost
OVEHOSTED_NOTIF/sourceEmail=str:root@localhost
OVEHOSTED_STORAGE/LunID=none:None
OVEHOSTED_STORAGE/discardSupport=bool:False
OVEHOSTED_STORAGE/domainType=str:nfs
OVEHOSTED_STORAGE/iSCSIDiscoverUser=none:None
OVEHOSTED_STORAGE/iSCSIPortal=none:None
OVEHOSTED_STORAGE/iSCSIPortalIPAddress=none:None
OVEHOSTED_STORAGE/iSCSIPortalPort=none:None
OVEHOSTED_STORAGE/iSCSIPortalUser=none:None
OVEHOSTED_STORAGE/iSCSITargetName=none:None
OVEHOSTED_STORAGE/imgSizeGB=str:58
OVEHOSTED_STORAGE/imgUUID=str:18ea6db1-abbd-4d9f-8619-ae6512353af6
OVEHOSTED_STORAGE/lockspaceImageUUID=none:None
OVEHOSTED_STORAGE/lockspaceVolumeUUID=none:None
OVEHOSTED_STORAGE/metadataImageUUID=none:None
OVEHOSTED_STORAGE/metadataVolumeUUID=none:None
OVEHOSTED_STORAGE/mntOptions=str:
OVEHOSTED_STORAGE/nfsVersion=str:auto
OVEHOSTED_STORAGE/storageDomainConnection=str:{{layer2_rhev_engine_storage_connection}}
OVEHOSTED_STORAGE/storageDomainName=str:hosted_storage
OVEHOSTED_STORAGE/volUUID=str:a262e98e-6255-45dc-bd41-f09fab7a136b
OVEHOSTED_VM/automateVMShutdown=bool:True
OVEHOSTED_VM/cdromUUID=str:0789c6f1-bdf9-453d-974f-26688b5b745b
OVEHOSTED_VM/cloudInitISO=str:generate
OVEHOSTED_VM/cloudinitExecuteEngineSetup=bool:True
OVEHOSTED_VM/cloudinitInstanceDomainName=str:{{sysctx_dns_domain}}
OVEHOSTED_VM/cloudinitInstanceHostName=str:{{layer2_rhev_engine_fqdn}}
OVEHOSTED_VM/cloudinitVMDNS=str:{{sysctx_dns}}
OVEHOSTED_VM/cloudinitVMETCHOSTS=bool:False
OVEHOSTED_VM/cloudinitVMStaticCIDR=str:{{layer2_rhev_engine_ip}}/{{sysctx_cidr}}
OVEHOSTED_VM/cloudinitVMTZ=str:Europe/Berlin
OVEHOSTED_VM/cloudinitRootPwd=str:{{secret_password}}
OVEHOSTED_VM/consoleUUID=str:d94f0c7a-1c31-4959-a33c-43fc9b30e0d7
OVEHOSTED_VM/emulatedMachine=str:pc-i440fx-rhel7.3.0
OVEHOSTED_VM/nicUUID=str:992dd6cf-a7d5-40d3-be8a-5dece6cf893d
OVEHOSTED_VM/ovfArchive=str:
OVEHOSTED_VM/rootSshAccess=str:yes
OVEHOSTED_VM/rootSshPubkey=str:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDJO/6kWVkT9rCJqT8fj9KawIaeUqHuD6NSEya1gD4ZmIFmRES9T1Z7ddA/z5cRpwHjPEPSZcG3CY0xMiRCDp9NZOHGl7Hcu5D1BFdY8ZPghHoK6NhoxyLOlXqTTkTaU6X5AHLJBe/em/wNXWBWJ6hTUffuxtcvNMxhaswNLQbvYsTwWkEeHO57DqgUtWCmj1ftQd07SgaX5cuNEUUGqxHwkOLSwofpxRlBoN3X0hPAn1RNYTSOPMGKE50rSJfjx3i7OLYUMNrnpQgFvUAniyV68EoYG4dpEEyxk9x23Wdh8z2VpeJhXojBcd+YNBhRZ88K4MGxcyS/vRCZxRn/8xYN daniel.froehlich@redhat.com
OVEHOSTED_VM/vmCDRom=none:None
OVEHOSTED_VM/vmMACAddr=str:00:16:3e:34:b4:e4
OVEHOSTED_VM/vmMemSizeMB=int:16384
OVEHOSTED_VM/vmVCpus=str:4
