<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<CertEnrollmentRequest>
    <Attributes/>
    <ProfileID>caServerCert</ProfileID>
    <Renewal>false</Renewal>
    <RemoteHost></RemoteHost>
    <RemoteAddress></RemoteAddress>
    <Input id="i1">
        <ClassID>certReqInputImpl</ClassID>
        <Name>Certificate Request Input</Name>
        <Attribute name="cert_request_type">
            <Value>pkcs10</Value>
            <Descriptor>
                <Syntax>cert_request_type</Syntax>
                <Description>Certificate Request Type</Description>
            </Descriptor>
        </Attribute>
        <Attribute name="cert_request">
            <Value>
<!-- INSERT-PKCS10-CSR-HERE WITHOUT-HEADER-TRAILER-HERE-->
            </Value>
<Descriptor>
    <Syntax>cert_request</Syntax>
    <Description>Certificate Request</Description>
</Descriptor>
</Attribute>
</Input>
<Input id="i2">
<ClassID>submitterInfoInputImpl</ClassID>
<Name>Requestor Information</Name>
<Attribute name="requestor_name">
<Value>Daniel Froehlich</Value>
<Descriptor>
    <Syntax>string</Syntax>
    <Description>Requestor Name</Description>
</Descriptor>
</Attribute>
<Attribute name="requestor_email">
<Value>dfroehli@redhat.com</Value>
<Descriptor>
    <Syntax>string</Syntax>
    <Description>Requestor Email</Description>
</Descriptor>
</Attribute>
<Attribute name="requestor_phone">
<Value>+4917610248433</Value>
<Descriptor>
    <Syntax>string</Syntax>
    <Description>Requestor Phone</Description>
</Descriptor>
</Attribute>
</Input>
</CertEnrollmentRequest>
