---

- name: Configure DHCP and DNS
  ansible.builtin.include_role:
    name: "internal-configure-dhcp-dns"
    tasks_from: "create.yaml"
  vars:
    uefi_http_boot_file: "{{ ushift_uefi_boot_file }}"

- name: Create VM
  ansible.builtin.include_tasks: 130-create-vm.yml
  tags: vm
