---
  - name: Check the DHCP Config is valid before touching it
    delegate_to: "{{ sysctx_network_dhcp }}"
    run_once: true
    ansible.builtin.shell: "/usr/sbin/kea-dhcp4 -t /etc/kea/kea-dhcp4.conf"
    register: precheck
    failed_when: "precheck.rc != 0"
    changed_when: false

  - name: Create dhcp4 config snippet from template
    delegate_to: "localhost"
    changed_when: false
    template:
      src: dhcp4_kea_entry.json.j2
      dest: "/tmp/dhcp4_config_{{inventory_hostname}}.json"

  - name: Configure DHCP4
    tags: dhcp
    delegate_to: "{{ sysctx_network_dhcp }}"
    throttle: 1
    blockinfile:
      path: "{{ kea_config_file_v4 }}"
      marker: "# {mark} ANSIBLE MANAGED {{inventory_hostname}}"
      insertbefore: "ANSIBLE AUTOMATED ENTRIES ABOVE HERE PLEASE"
#      append_newline: true
#      prepend_newline: true
      block:  "{{ lookup('file', '/tmp/dhcp4_config_{{inventory_hostname}}.json')  }}"
      backup: yes
    register: dhcp4

  - name: Check the DHCP Config is valid after touching it
    when: dhcp4 is changed
    run_once: true
    delegate_to: "{{ sysctx_network_dhcp }}"
    ansible.builtin.shell: "/usr/sbin/kea-dhcp4 -t /etc/kea/kea-dhcp4.conf"
    register: postcheck
    failed_when: "postcheck.rc != 0"
    changed_when: false

  - name: restart DHCP
    run_once: true
    tags: dhcp
    delegate_to: "{{ sysctx_network_dhcp }}"
    service:
      name: kea-dhcp4
      enabled: yes
      state: restarted
    when: dhcp4 is changed
