---
# Variables shared by all ennvironment:
# ---------------------------


# Systemcontext stuff, i.e. external components / facts:
sysctx_dns_domain: "stormshift.coe.muc.redhat.com"
sysctx_dns_domain_reverse: "32.10.in-addr.arpa"

sysctx_network_dhcp: "inf1.coe.muc.redhat.com"
sysctx_network_dns: "inf1.coe.muc.redhat.com"
sysctx_network_gateway: "10.32.111.254"
sysctx_network: "10.32.96.0"
sysctx_network_cidr: "20"

# Base layer cluster:
# Access token via credentials / env variable set:
K8S_AUTH_HOST: "https://api.isar.coe.muc.redhat.com:6443"
K8S_AUTH_VERIFY_SSL: false
# DNS server host endpoint (IPA)
# (username+pswd via credentials)
IPA_HOST: "{{sysctx_network_dns}}"


# ---------------------------
# Template VMs related common vars:
stormshift_template_vms_namespace: stormshift-vm-templates

#
ocpVirt_runStrategy_running: RerunOnFailure
ocpVirt_runStrategy_stopped: Halted

# ---------------------------
# Microshift related common vars:
ushift_virt_namespace: stormshift-microshift
ushift_repo_ec: "https://mirror.openshift.com/pub/openshift-v4/x86_64/microshift/ocp-dev-preview"
ushift_repo_rc: "https://mirror.openshift.com/pub/openshift-v4/x86_64/microshift/ocp"
ushift_vm_storageclass: "coe-netapp-san"
# possible additional features: cockpit, manage_with_acm
ushift_additional_features: {}
ushift_use_local_quay_proxy: false

# echo -n SECRET | ansible-vault encrypt_string --vault-password-file .vault_pass
sso_admin_pw: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          31316136623133643537363631303331396332663964616439363236393835653637633166393931
          3336333761326165396436366638653633323832346464310a366436303762366432383165326239
          61613464386132393937353435326462643633623361353362396239363033323136643363333537
          3363613032633664370a326635383463623931353133653665653039643762613434643465633466
          3232

# ---------------------------
# NetApp related informations

netapp_username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39383636316637303163376365356162336139343561313330633363333537393338356339363963
          3138393034356136353863643030323435643632316339310a393632316365393661323062623561
          31643137323662653862336261323933373562353962343638656366613231623933313233326266
          6130333062616263300a313636646433663730303661613931326333626637363535666564663665
          3637

netapp_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36353865653462303431386165366638623865326565623732326139333261356132323139373739
          6437633634613931383464643036323262343166346663660a316563346133626438306239616363
          62376430333737356264366233646633656535613637393539316332626461633237663039313164
          6362306133373665350a653561613136353032393232383064353437313134396535643934633466
          3031

netapp_managementLIF: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32373234333932326239633862386533316335663733323966353433366639333034623364363937
          6637333464396432636239626136633063366336373438380a373735303031636432626339366263
          63383431623764393735633335333332343162333566613831633961313137383364346331653639
          3438393231336230390a383634333933613333396331303032616263303033326363313639623539
          3164
