- name: Remove cdrom disk from VMs
  vars:
    disk_name_to_remove: "cdrom"
    restart_vm_after_disk_removal: false
  ansible.builtin.include_role:
    name: "feature-remove-disk"
    tasks_from: post-deploy.yaml

- name: Add disks to control plane VMs
  vars:
    vm_name: "{{ inventory_hostname }}-cp-{{ item.0 }}"
  ansible.builtin.include_tasks: "add-disk-to-vm.yaml"
  with_indexed_items: "{{ control_plans }}"
  when: workers is undefined or workers|length == 0

- name: Add disks to worker VMs
  vars:
    vm_name: "{{ inventory_hostname }}-worker-{{ item.0 }}"
  ansible.builtin.include_tasks: "add-disk-to-vm.yaml"
  with_indexed_items: "{{ workers }}"
  when: workers is defined and workers|length == 0

- name: Wait for API to be available (in case we rebooted to add a disk)
  wait_for:
    host: "api.{{ inventory_hostname }}.{{ cluster_base_domain }}"
    port: 6443
    sleep: 1
    timeout: 600

- name: Fetch kubeconfig from vault
  ansible.builtin.include_role:
    name: internal-fetch-kubeconfig

- name: Define lvms_channel
  when: lvms_channel is undefined
  block:
    - name: Retrieve ClusterVersion
      kubernetes.core.k8s_info:
        kubeconfig: "{{ cluster_access_kubeconfig }}"
        api_version: config.openshift.io/v1
        kind: ClusterVersion
      register: cluster_version
    - name: Define ocp version
      set_fact:
        ocp_version: "{{ cluster_version.resources[0].status.desired.version }}"
    - name:
      debug:
        msg: "detected OpenShift version:{{ ocp_version }}"
    - name: Define lvms_channel
      set_fact:
        lvms_channel: "stable-{{ ocp_version.split('.').0 }}.{{ ocp_version.split('.').1 }}"

- name: Install Early Access Catalog for EC or RC builds
  when: "'rc' in ocp_version or 'ec' in ocp_version"
  block:
    - name: "Apply LVMS early access manifest (catalog source etc) for EC or RC builds"
      register: early_access
      kubernetes.core.k8s:
        kubeconfig: "{{ cluster_access_kubeconfig }}"
        state: present
        definition: "{{ lookup('template', 'lvms_earlyaccess_manifest.yaml') | from_yaml }}"

    - name: Wait for catalogsource pod to be ready
      kubernetes.core.k8s_info:
        kubeconfig: "{{ cluster_access_kubeconfig }}"
        kind: Pod
        namespace: "openshift-marketplace"
        label_selectors:
          - "olm.catalogSource = lvms-earlyaccess-catalog"
        wait: yes
        wait_timeout: 300
        wait_condition:
          type: Ready
          status: True

- name: Install LVMS operator
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: present
    definition: "{{ lookup('template', 'lvms_operator_manifest.yaml') | from_yaml }}"

- name: Wait for Operator Deployment to be complete
  kubernetes.core.k8s_info:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    kind: CustomResourceDefinition
    name: lvmclusters.lvm.topolvm.io
    wait: yes
    wait_timeout: 300
    wait_condition:
      type: Established
      status: True

- name: Wait for operator pod to be ready
  kubernetes.core.k8s_info:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    kind: Pod
    namespace: "{{ lvms_namespace }}"
    label_selectors:
      - "app.kubernetes.io/name = lvms-operator"
    wait: yes
    wait_timeout: 300
    wait_condition:
      type: Ready
      status: True

- name: Deploy LVMS Cluster
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: present
    wait: yes
    wait_condition:
      type: VolumeGroupsReady
      status: True
    definition: "{{ lookup('template', 'lvms_cluster_manifest.yaml') | from_yaml }}"

- name: Make use of the new storage
  when: lvms_make_use_of_storage
  ansible.builtin.include_role:
    name: "feature-use-storage"
    tasks_from: post-deploy.yaml
