- name: Remove cdrom disk from VMs
  vars:
    disk_name_to_remove: "cdrom"
    restart_vm_after_disk_removal: false
  ansible.builtin.include_role:
    name: "feature-remove-disk"
    tasks_from: post-deploy.yaml

- name: Add disks to control plane VMs
  vars:
    vm_name: "{{ inventory_hostname }}-cp-{{ item.0 }}"
  ansible.builtin.include_tasks: "add-disk-to-vm.yaml"
  with_indexed_items: "{{ control_plans }}"
  when: workers is undefined or workers|length == 0

- name: Add disks to worker VMs
  vars:
    vm_name: "{{ inventory_hostname }}-worker-{{ item.0 }}"
  ansible.builtin.include_tasks: "add-disk-to-vm.yaml"
  with_indexed_items: "{{ workers }}"
  when: workers is defined and workers|length == 0

- name: Wait for API to be available (in case we rebooted to add a disk)
  wait_for:
    host: "api.{{ inventory_hostname }}.{{ cluster_base_domain }}"
    port: 6443
    sleep: 1
    timeout: 600

- name: Fetch kubeconfig from vault
  ansible.builtin.include_role:
    name: internal-fetch-kubeconfig

- name: Define lvms_channel
  when: lvms_channel is undefined
  block:
  - name: Retrieve ClusterVersion
    kubernetes.core.k8s_info:
      kubeconfig: "{{ cluster_access_kubeconfig }}"
      api_version: config.openshift.io/v1
      kind: ClusterVersion
    register: cluster_version
  - name: Define ocp version
    set_fact:
      ocp_version: "{{ cluster_version.resources[0].status.desired.version }}"
  - name:
    debug:
      msg: "detected OpenShift version:{{ ocp_version }}"
  - name: Define lvms_channel
    set_fact:
      lvms_channel: "stable-{{ ocp_version.split('.').0 }}.{{ ocp_version.split('.').1 }}"

- name: Install LVMS operator
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: present
    definition:
      - kind: Namespace
        apiVersion: v1
        metadata:
          labels:
            openshift.io/cluster-monitoring: "true"
            pod-security.kubernetes.io/enforce: privileged
            pod-security.kubernetes.io/audit: privileged
            pod-security.kubernetes.io/warn: privileged
          annotations:
            workload.openshift.io/allowed: management
          name: openshift-storage
      - kind: OperatorGroup
        apiVersion: operators.coreos.com/v1
        metadata:
          name: openshift-storage-operatorgroup
          namespace: openshift-storage
        spec:
          targetNamespaces:
          - openshift-storage
      - kind: Subscription
        apiVersion: operators.coreos.com/v1alpha1
        metadata:
          name: lvms-operator
          namespace: openshift-storage
        spec:
          installPlanApproval: Automatic
          channel: "{{ lvms_channel }}"
          name: lvms-operator
          source: redhat-operators
          sourceNamespace: openshift-marketplace

- name: Wait for Operator Deployment to be complete
  kubernetes.core.k8s_info:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    kind: CustomResourceDefinition
    name: lvmclusters.lvm.topolvm.io
    wait: yes
    wait_timeout: 300
    wait_condition:
      type: Established
      status: True

- name: Wait for operator pod to be ready
  kubernetes.core.k8s_info:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    kind: Pod
    namespace: openshift-storage
    label_selectors:
      - "app.kubernetes.io/name = lvms-operator"
    wait: yes
    wait_timeout: 300
    wait_condition:
      type: Ready
      status: True

- name: Deploy LVMS
  kubernetes.core.k8s:
    kubeconfig: "{{ cluster_access_kubeconfig }}"
    state: present
    wait: yes
    wait_condition:
      type: VolumeGroupsReady
      status: True
    definition:
      kind: LVMCluster
      apiVersion: lvm.topolvm.io/v1alpha1
      metadata:
        name: lvmcluster
        namespace: openshift-storage
      spec:
        storage:
          deviceClasses:
            - name: vg1
              default: true
              fstype: xfs
              thinPoolConfig:
                chunkSizeCalculationPolicy: Static
                name: thin-pool-1
                overprovisionRatio: 10
                sizePercent: 90
                
- name: Make use of the new storage
  ansible.builtin.include_role:
    name: "feature-use-storage"
    tasks_from: post-deploy.yaml
